.cardGroupWrapper {
  position: relative;
  left: -10px;
  width: calc(100% + 20px);
}
.statisticCardWrapper {
  height: 112px;
  background: #fff;
  border: 1px solid #e4e7ed;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  .unit {
    color: #909399;
    font-weight: 400;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    line-height: 20px;
  }
  .ant-statistic-title {
    word-break: break-all;
  }
}
