.searchWrapper {
  background-color: #fff;
  .chartWrapper {
    padding: 24px;
  }
  .tableWrapper {
    margin-top: 20px;
    .title {
      padding-left: 24px;
      font-weight: 500px;
      font-size: 22px;
    }
  }
}
