.tree {
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  width: 280px;
  padding: 20px 15px;
  overflow: auto;
  background: white;
  box-shadow: 1px 0 0 0 #dfe1e6, 2px 0 4px 0 rgba(0, 0, 0, 0.16);
}

.content {
  height: 100%;
  padding-left: 280px;
  overflow: auto;
}
