.grid {
  display: grid;
  height: calc(100vh - 218px);
  border-radius: 2px;
  .gutterCol,
  .gutterRow {
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .gutterCol {
    grid-row-start: 1;
    grid-row-end: -1;
    /* stylelint-disable-next-line */
    background-image: url(~@/assets/image/vertical.png);
    cursor: col-resize;
  }
  .gutterRow {
    grid-column-start: 1;
    grid-column-end: -1;
    /* stylelint-disable-next-line */
    background-image: url(~@/assets/image/horizontal.png);
    cursor: row-resize;
  }
  .content {
    border: 1px solid #d9d9d9;
  }
  :global {
    .gutter-col-1 {
      grid-column: 2;
    }
    .gutter-col-3 {
      grid-column: 4;
    }
    .gutter-row-1 {
      grid-row: 2;
    }
    .gutter-row-3 {
      grid-row: 4;
    }
  }
}
