.siteDropdown {
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: baseline;
  h1 {
    margin-right: 8px;
    color: #1d2129;
    font-weight: 600;
    font-size: 16px;
    font-family: PingFangSC-Semibold, PingFang SC;
    line-height: 24px;
  }
  .dropdownContent {
    // width: 200px;
    // min-height: 50px;
    // max-height: 300px;
    // overflow: auto;
    // background-color: #fff;
    // border-radius: 2px;
    // outline: none;

    :global {
      .ant-dropdown-menu {
        width: 200px;
        min-height: 50px;
        max-height: 300px;
        overflow: auto;
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
          0 9px 28px 8px rgba(0, 0, 0, 0.05);
      }
    }
  }
}
