.time {
  color: #4dd6f0;
  font-weight: 500;
  font-size: 16px;
  .hour {
    font-size: 30px;
    font-family: YouSheBiaoTiHei;
    letter-spacing: 1px;
    background: linear-gradient(270deg, #4cf 0%, #00ffe2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
