.elctric {
  padding: 24px;
  text-align: center;
  background: #f7f8fa;
  img {
    width: 100%;
    max-width: 938px;
  }
}

.table {
  :global {
    .ant-pro-table-search {
      display: none;
    }
  }
}
