@import '~antd/es/style/themes/default.less';
.tabs {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 34px;
  padding-right: 12px;
  padding-left: 7px;
  background: #fff;
  box-shadow: inset 0 -1px 0 0 #e7e7e7;
  .tabList {
    display: flex;
    flex: 1;
    margin-top: 2px;
    overflow: hidden;
    .linkTabs {
      display: flex;
      flex: 1;
      transition: all 0.5s;
    }
  }
  .tabLeftMenu {
    z-index: 12;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    padding: 0 20px 0 5px;
    .tabMore {
      color: @primary-color;
      font-weight: bold;
    }
  }
  .boxShadow {
    box-shadow: -7px 0 7px -7px #5e5e5e; //@tab-left-menu;
  }
  &:first-child {
    &::before {
      display: none;
    }
  }
  :global {
    .ant-dropdown-link {
      line-height: 30px;
    }
  }
}
