.totalDataDiv {
  height: 70px;
  color: black;
  background-color: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  :global {
    .ant-card {
      padding: 0 10px;
      color: black;
      line-height: 20px;
      background-color: transparent; //background-image: url(~@/assets/image/customScreen/data-box.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      .ant-card-head {
        padding: 0 15px;
        color: black;
        font-size: 14px;
        border-bottom: none;
      }
      .ant-card-body {
        padding: 0 15px;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}

.cabinetContain {
  position: relative;
  :global {
    .ant-carousel .slick-track {
      transition: transform 0.8s linear 0s !important;
    }
  }
}

.col {
  position: static;
}

.leftArrowBox {
  position: absolute;
  top: 50%;
  left: -15px;
  z-index: 10;
}

.rightArrowBox {
  position: absolute;
  top: 50%;
  right: -15px;
  z-index: 10;
}

.backFont {
  position: absolute;
  top: -52px;
  right: 0;
  z-index: 10;
}

.tabConent {
  position: relative;
  .totalList {
    height: 82px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  :global {
    .ant-carousel .slick-track {
      transition: transform 0.8s linear 0s !important;
    }
  }
}

.vertical {
  width: 2px;
  margin: 2px auto 0;
  :global {
    .ant-divider-vertical {
      height: 62px;
      margin: 0;
      border-left: 2px solid #ececec;
    }
  }
}

.itemContain {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    right: 50%;
    display: block;
    width: 100%;
    border-top: 2px solid #ececec;
    content: '';
  }
}

.firstItem::before {
  display: none;
}

.editWrap {
  position: relative;
  .edit {
    position: absolute;
    top: 5px;
    left: 100%;
    display: none;
  }
  &:hover {
    .edit {
      display: inline-block;
    }
  }
}
