.chartWrapper {
  position: relative;
  width: 366px;
  height: 46px;
  margin-bottom: 10px;

  .bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 16px;
    background-color: #6f84a1;

    .charging {
      height: 100%;
      background-color: #01cfa1;
    }

    .discharging {
      height: 100%;
      background-color: #ffe04d;
    }
  }

  .rect {
    width: 8px;
    height: 8px;
    margin-right: 6px;
  }

  .legend {
    display: flex;
    height: 20px;
    margin-top: 10px;

    .content {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .mark {
        width: 8px;
        height: 8px;
        margin-right: 6px;
      }
      .desc {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        margin-right: 40px;
        margin-left: 8px;

        .title {
          margin-right: 4px;
          color: #acccec;
          font-weight: 400;
          font-size: 12px;
          font-family: PingFangSC-Regular, PingFang SC;
          line-height: 20px;
        }
        .unit {
          font-weight: 500;
          font-size: 12px;
          font-family: DIN-Medium, DIN;
          line-height: 20px;
        }
      }
    }
  }
}
