.headerTitleWrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  .tabWrapper {
    margin-top: 10px;
  }
}

.tableWrapper {
  :global {
    .ant-pro-table-list-toolbar-left {
      max-width: 100% !important;
      .ant-pro-table-list-toolbar-title {
        width: 100%;
      }
    }
    .ant-tabs-top > .ant-tabs-nav::before {
      border-bottom: 1px solid #f0f0f0 !important;
    }
  }
}
