.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #303133;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.form {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.rank_table {
  margin-top: 24px;
}
