// .cardDescription {
// }

.kpi-box {
  display: flex;
  align-items: center;
  height: 117px;
  .icon {
    margin-right: 20px;
    padding: 8px;
    font-size: 60px;
  }
  .svg-icon {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -2px;
    fill: currentColor;
  }
  .left-title {
    margin-left: 17px;
    color: #999;
    font-size: 12px;
  }
  .content {
    flex: 1;
    width: 80px;
    .card-item {
      display: flex;
      .card-left {
        width: 140px;
      }
      // .card-right {
      // }
      .card-kpi-label {
        color: #666;
        font-size: 14px;
      }
      .card-kpi-unit {
        color: #999;
        font-size: 12px;
      }
      .card-kpi-value {
        margin-right: 3px;
        color: #181818;
        font-weight: 700;
        font-size: 14px;
      }
    }
  }
}
