// .cardDescription {
// }

.kpi-box {
  display: flex;
  align-items: center;
  height: 120px;
  .boxLeft {
    min-width: 80px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 24px 5px;
    .svg-icon {
      position: relative;
      width: 48px;
      height: 48px;
      margin-bottom: 4px;
    }
    .left-title {
      text-align: center;
      margin: 0;
      color: #999;
      font-size: 12px;
    }
  }
  .content {
    flex: 1;
    width: 80px;
    .card-item {
      display: flex;
      margin: 1px 0;
      .card-left {
        max-width: 200px;
        min-width: 140px;
      }
      .card-right {
        display: flex;
        align-items: center;
      }
      .card-kpi-label {
        color: #606266;
        font-size: 14px;
      }
      .card-kpi-unit {
        color: #999;
        font-size: 12px;
      }
      .card-kpi-value {
        margin-right: 3px;
        color: #1d2129;
        font-weight: 700;
        font-size: 14px;
      }
    }
  }
}
