.contain {
  align-items: start;
}

.icon {
  width: 20px;
  margin-right: 12px;
}

.title {
  color: #606266;
  font-size: 16px;
  line-height: 24px;
}

.num {
  color: #1d2129;
  font-size: 34px;
  line-height: 42px;
}

.unit {
  color: #909399;
  font-size: 12px;
  line-height: 20px;
}
