.buttonGroupWrapper {
  // margin-top: 8px;
  // margin-right: 16px;
  :global {
    .ant-radio-button-wrapper:first-child {
      border-left: 1px solid #0d437f;
    }
    .ant-radio-button-wrapper {
      color: #7ec2ff;
      background: rgba(21, 154, 255, 0.1);
      border: 1px solid #0d437f;
    }
    .ant-radio-button-wrapper:not(:first-child)::before {
      background-color: rgba(21, 154, 255, 0.4);
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      background: rgba(21, 154, 255, 0.4);
      border-color: #3db1ff;
      &::before {
        background: rgba(21, 154, 255, 0.4);
      }
    }
  }
}
