.cardGroupWrapper {
  width: 100%;
  :global {
    .ant-pro-card-col {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.statisticCardWrapper {
  height: 112px;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #e4e7ed;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  .unit {
    color: #909399;
    font-weight: 400;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    line-height: 20px;
  }
}
