@import '~antd/es/style/themes/default.less';
.screen {
  float: right;
  color: @primary-color;
  font-size: 24px;
  cursor: pointer;
}
.stationHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
