@import '~antd/es/style/themes/default.less';
.screen {
  float: right;
  color: @primary-color;
  font-size: 24px;
  cursor: pointer;
}
.selectSiteStation {
  :global {
    .ant-select-selection-placeholder {
      color: #007dff;
    }
  }
}
.stationHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
