.item {
  max-width: 300px;
  &:hover {
    .action {
      display: block;
    }
  }
  .lable {
    width: 80%;
    height: 25px;
    overflow: hidden;
    line-height: 25px;
    line-height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .action {
    display: none;
  }
}
