.title {
  padding: 0 8px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  line-height: 20px;
  background: linear-gradient(
    180deg,
    #4484fd 0%,
    rgba(70, 149, 251, 0) 35%,
    rgba(64, 142, 251, 0.26) 72%,
    #4585fe 100%
  );
  border: 1px solid;
  border-image: linear-gradient(
      180deg,
      rgba(70, 127, 224, 1),
      rgba(92, 150, 231, 0),
      rgba(82, 140, 228, 0),
      rgba(70, 127, 224, 1)
    )
    1 1;
  opacity: 0.78;
  .unit {
    color: #acccec;
    font-weight: 400;
    font-size: 12px;
  }
}
