.weather {
  color: #cdd6e3;
  font-size: 1.38vh;
  img {
    width: 1.25vw;
  }
  .name {
    margin-right: 1.25vw;
    margin-left: 0.41vw;
  }
  .time {
    margin-left: 0.41vw;
    color: #7ec2ff;
    font-size: 2.03vh;
  }
}
