.dialogWrap {
  color: white;
  background: rgba(10, 16, 28, 0.9);
  border: 0.005vw solid;
  border-image: linear-gradient(
      225deg,
      rgba(8, 139, 255, 0),
      rgba(8, 139, 255, 1),
      rgba(8, 139, 255, 0)
    )
    1 1;
  .dialogHead {
    position: relative;
    height: 3.05vh;
    font-size: 1.52vh;
    background: linear-gradient(90deg, rgba(8, 139, 255, 0.4) 0%, rgba(8, 139, 255, 0) 100%);
    .tab {
      position: relative;
      display: inline-block;
      padding: 0 0.833vw;
      line-height: 3.05vh;
      cursor: pointer;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 0.19vh;
        content: '';
      }
    }
    .active {
      &::after {
        background-color: #159aff;
      }
    }
  }
  .close {
    position: absolute;
    top: 0.41vw;
    right: 0.52vw;
    width: 0.83vw;
    height: 0.83vw;
    cursor: pointer;
  }
  .dialogContent {
    padding: 0.83vw;
  }
  .productLogo {
    width: 10.41vw;
    margin-bottom: 1.29vh;
  }
  .productInfo {
    padding-left: 1.66vw;
  }
  .label {
    margin-bottom: 0.74vh;
    font-size: 1.29vh;
    .labelLine {
      display: inline-block;
      width: 0.1vw;
      height: 1.29vh;
      margin-right: 0.52vw;
      background: #0d92ff;
    }
  }
  .splitLine {
    height: 0.18vh;
    margin-bottom: 1.3vh;
    background: #064066;
    opacity: 0.6;
  }
  .dotWrap {
    .dot {
      display: inline-block;
      width: 0.31vw;
      height: 0.31vw;
      margin-right: 0.31vw;
      background: white;
      border-radius: 50%;
    }
    &.active {
      color: #28f0ee;
      .dot {
        background: #50f0ff;
      }
    }
  }
  .areaChart {
    width: 19.16vw;
    height: 13vh;
    margin-bottom: 0.92vh;
    .chartTitle {
      margin-bottom: 0.92vh;
      color: #6c8097;
      font-size: 1.11vh;
    }
  }
  .desc {
    color: white;
    font-size: 1.11vh;
    line-height: 1.5;
  }
  .btnMore {
    padding-left: 0;
  }
}
