.title {
  padding: 0 8px;
  color: #303133;
  font-weight: 500;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  line-height: 24px;
  border-left: 2px solid #165dff;
}

.effectiveTimeItem {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  border: 1px solid #dcdfe6;
}

.timeIntervalCol {
  margin-bottom: 24px;
}

.statusSuccess {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 20px;
  color: #00b42a;
  background: #e8ffea;
  border-radius: 2px;
}

.statusFail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 20px;
  color: #f53f3f;
  background: #ffece8;
  border-radius: 2px;
}
