.boxWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 42px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;

  .label {
    color: #303133;
    font-weight: 400;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    line-height: 22px;
  }
}
