.wrapper {
  position: absolute;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  pointer-events: none;
}

.backgroundTop {
  .backgroundImage();

  z-index: 1;
  width: 570px;
  height: 367px;
  background-image: url('~@/assets/image/screen/Geometry/background_top.png');
}

.backgroundBottom {
  .backgroundImage();

  z-index: 0;
  width: 1040px;
  height: 682px;
  background-image: url('~@/assets/image/screen/Geometry/background_bottom.png');
}

.backgroundRight {
  .backgroundImage();

  left: 488px;
  z-index: 2;
  width: 550px;
  height: 332px;
  background-image: url('~@/assets/image/screen/Geometry/background_right.png');
}

.backgroundPark {
  .backgroundImage();

  top: 208px;
  left: 692px;
  z-index: 3;
  width: 317px;
  height: 186px;
}

.content {
  position: relative;
  z-index: 2;
  // width: 5px;
  // height: 5px;
}

.deviceAlarm {
  .backgroundImage();

  position: absolute;
  top: -20px;
  left: 5px;
  width: 66px;
  height: 43px;
  background-image: url('~@/assets/image/screen/alarm/device_alarm.png');
}

.leftGun {
  position: absolute;
  bottom: -10;
  left: -10;
}

.rightGun {
  position: absolute;
  right: 10;
  bottom: -10;
}

.circle1,
.circle2 {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 40%;
  height: 10px;
  margin-left: -5px;
  background: #987b1e;
  border-radius: 50%;
  box-shadow: 1px 1px 15px rgba(152, 123, 30, 0.7);
  visibility: hidden;
  opacity: 0;
  &:hover {
    visibility: visible;
  }
}
.circle1 {
  animation: waterRippleOuter 1.5s linear;
  animation-iteration-count: infinite;
}
.circle2 {
  animation: waterRippleInner 1.5s linear;
  animation-iteration-count: infinite;
}
@keyframes waterRippleOuter {
  0% {
    transform: scale(1);
    opacity: 0.1;
  }

  25% {
    transform: scale(1.2);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.4);
    opacity: 0.3;
  }

  75% {
    transform: scale(1.6);
    opacity: 0.2;
  }

  100% {
    transform: scale(1.8);
    opacity: 0.1;
  }
}

@keyframes waterRippleInner {
  0% {
    transform: scale(0.8);
    opacity: 0.01;
  }

  25% {
    transform: scale(0.8);
    opacity: 0.13;
  }

  50% {
    transform: scale(1);
    opacity: 0.1;
  }

  75% {
    transform: scale(1.2);
    opacity: 0.07;
  }

  100% {
    transform: scale(1.4);
    opacity: 0.01;
  }
}
