.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* stylelint-disable-next-line */
  background: url(~@/assets/image/app-download-bg.png) no-repeat top center / 100% auto;
}
