.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 80vh;
  /* stylelint-disable-next-line */
  background: url(~@/assets/image/app_download_bg.png) no-repeat top center / 100% auto;
  :global {
    .download-btn {
      position: absolute;
      bottom: 19vh;
      width: 100%;
      padding-top: 20px;
      text-align: center;
      background: white;
      .ant-btn {
        width: 295px;
        max-width: 80%;
        height: 48px;
        border-radius: 6px;
      }
      .ant-typography {
        font-size: 12px;
      }
    }
  }
  .lang {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
  }
}
