.pieContain {
  /* stylelint-disable-next-line */
  background-image: url(~@/assets/image/screen/circle.png);
  background-repeat: no-repeat;
  background-position: center 32%;
  background-size: 50%;
}
