.pieContain {
  /* stylelint-disable-next-line */
  background-image: url(~@/assets/image/screen/circle.png);
  background-repeat: no-repeat;
  background-position: center 36%;
  background-size: 44%;
}
