.pieContain {
  /* stylelint-disable-next-line */
  background-image: url(~@/assets/image/screen/circle_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 52%;
}
