@import '~antd/es/style/themes/default.less';
.category {
  :global {
    .ant-tabs-ink-bar {
      background-color: transparent;
    }
    .ant-tabs-tab {
      margin: 12px 0;
      padding: 0 8px;
    }
    .ant-tabs-tab-active {
      color: @primary-color;
      background: rgba(22, 93, 255, 0.1);
    }
    .ant-tabs-nav {
      background-color: #fff;
      &::before {
        border-bottom: 0;
      }
    }
  }
}
