@import '~antd/es/style/themes/default.less';
.label-wrap {
  margin-bottom: 16px;
  font-size: 16px;
  .label-line {
    display: inline-block;
    width: 2px;
    height: 16px;
    margin-right: 8px;
    background: @primary-color;
  }
  .label-title {
    font-weight: bold;
  }
}
