.title {
  position: absolute;
  top: 26px;
  left: 1px;
  width: 474px;
  height: 38px;
  color: #fff;
  font-size: 38px;
  font-family: YouSheBiaoTiHei;
  line-height: 1;
  letter-spacing: 4px;
  text-align: center;
  word-break: keep-all;
  background: linear-gradient(180deg, #fff 0%, #52c8ff 100%),
    linear-gradient(180deg, #fff 0%, #acddff 100%);
  background-clip: text;
  transform-origin: center;
  pointer-events: none;
  -webkit-text-fill-color: transparent;
}

.titleBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 69px;
  background-image: url('~@/assets/image/screen/title/永泰示范站_大标题BG_动效.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
