.contentWrapper {
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 16px;

  .batteryStatus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18px;
    margin-bottom: 4px;
    color: #acccec;
    font-weight: 400;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    line-height: 18px;
  }

  :global {
    .ant-descriptions-item {
      padding-bottom: 4px;
    }
  }

  .dateRange {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
  }

  .realtimeStatistic {
    height: 70px;
    margin: 24px 0 24px 0;
    background: linear-gradient(
      90deg,
      rgba(21, 154, 255, 0.4) 0%,
      rgba(21, 154, 255, 0.09) 24%,
      rgba(21, 154, 255, 0) 50%,
      rgba(21, 154, 255, 0.1) 73%,
      rgba(21, 154, 255, 0.4) 100%
    );
    border: 1px solid;
    border-image: linear-gradient(
        270deg,
        rgba(21, 154, 255, 1),
        rgba(21, 154, 255, 0.18),
        rgba(21, 154, 255, 0),
        rgba(21, 154, 255, 0.2),
        rgba(21, 154, 255, 0.75)
      )
      1 1;
    .innerBox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      padding: 10px 0;
    }
  }

  .statisticalData {
    position: relative;
    height: 70px;
    margin-bottom: 32px;
    padding: 10px 0;
    background: rgba(9, 36, 68, 0.5);
    border: 1px solid rgba(21, 154, 255, 0.5);
    // opacity: 0.5;

    .rect {
      position: absolute;
      width: 4px;
      height: 4px;
      background: #0b5fa9;
    }

    .top-left {
      top: 0;
      left: 0;
    }
    .top-right {
      top: 0;
      right: 0;
    }
    .bottom-left {
      bottom: 0;
      left: 0;
    }
    .bottom-right {
      right: 0;
      bottom: 0;
    }
  }
}

.runningStatus {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  .icon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
}
