.contentWrapper {
  margin: 0 16px 0 16px;
  .realtimeStatistic {
    color: #fff;
    .digitalGroup {
      justify-content: space-between;
    }
  }

  :global {
    .ant-descriptions-item {
      padding-bottom: 4px;
    }
  }

  .dateRange {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
  }

  .statisticalData {
    position: relative;
    margin-bottom: 32px;
    padding: 10px 0;
    background: rgba(9, 36, 68, 0.5);
    border: 1px solid rgba(21, 154, 255, 0.5);
    // opacity: 0.5;

    .rect {
      position: absolute;
      width: 4px;
      height: 4px;
      background: #0b5fa9;
    }

    .top-left {
      top: 0;
      left: 0;
    }
    .top-right {
      top: 0;
      right: 0;
    }
    .bottom-left {
      bottom: 0;
      left: 0;
    }
    .bottom-right {
      right: 0;
      bottom: 0;
    }
  }
}

.runningStatus {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  .icon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
}
