.emptyBox {
  width: 10px;
  height: 10px;
}

.boxTextContent {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.boxItem {
  display: flex;
  flex-flow: row;
  padding: 4px 0;

  .label {
    color: #191919;
    font-weight: 400;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    line-height: 22px;
  }
  .value {
    color: #007dff;
    font-weight: 600;
    font-size: 14px;
    font-family: PingFangSC-Semibold, PingFang SC;
    line-height: 22px;
  }
}
