.title {
  color: #fff;
  color: transparent;
  font-weight: 550;
  font-size: 33px;
  line-height: 33px;
  letter-spacing: 3px;
  text-shadow: 0 0 20px rgba(0, 112, 255, 0.8);
  background: linear-gradient(180deg, #fff 0%, #d3f0ff 67%, #86cbff 100%);
  background-clip: text;
}
