.grid {
  display: grid;
  height: calc(100vh - 220px);
  border-radius: 2px;
  &.fullScreen {
    height: calc(100vh - 102px);
  }
  :global {
    .ant-form-item {
      .ant-tag div {
        max-width: 100%;
      }
    }
  }
}

.content {
  margin-bottom: 12px;
  padding-bottom: 68px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}

.form {
  min-height: 54px;
  margin-top: 12px;
  padding: 0 12px !important;
}

.contain {
  height: 100%;
}

.resizable {
  :global {
    .react-resizable-handle {
      width: 100%;
      cursor: n-resize;
    }
  }
}
