.digit {
  :global {
    .digit-stat-wrap {
      padding: 10px 16px;
      /* stylelint-disable-next-line */
      background-image: url(~@/assets/image/multi-site/device-block.png);
      .digit-stat-content:nth-of-type(2) {
        text-align: center;
      }
      .digit-stat-num {
        font-size: 20px;
      }
    }
    .ant-col + .ant-col {
      margin-top: 8px;
    }
  }
}
