.digit {
  :global {
    .digit-stat-wrap {
      /* stylelint-disable-next-line */
      background-image: url(~@/assets/image/multi-site/income/block-top.png);
      .digit-stat-num {
        color: #ffe5b2;
        font-family: YouSheBiaoTiHei;
        line-height: 28px;
        -webkit-background-clip: text !important;
        background-clip: text !important;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
