.treeContain {
  position: relative;
  height: calc(100vh - 227px);
  overflow-x: hidden;
}

.tree {
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 280px;
  padding: 0 20px 15px;
  overflow: auto;
  background: white;
  border-right: 1px solid #dfe1e6;
  transform: translate3d(-280px, 0, 0);
  transition: 0.5s;
}

.content {
  height: 100%;
  padding-left: 0;
  overflow: auto;
  :global {
    .ant-tabs {
      .ant-tabs-nav {
        margin-top: -12px;
        margin-bottom: 0;
      }
    }
    .ant-pro-table-search {
      margin-bottom: 0;
    }
  }
}

.switchWrap {
  position: fixed;
  top: 50%;
  left: 503px;
  z-index: 20;
  padding: 9px 0;
  background: white;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 4px 4px 0;
  transform: translate3d(-279px, 0, 0);
  cursor: pointer;
  transition: 0.5s;
}

.toggle {
  width: 0;
  transition: 0.5s;
}

.open {
  .tree,
  .switchWrap {
    transform: translate3d(0, 0, 0);
  }
  .content {
    padding-left: 280px;
  }
  .toggle {
    width: 280px;
  }
}
