.chartWrapper {
  position: relative;
}
.chartTitle {
  margin: 0;
  padding: 0 8px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
}
.total {
  display: flex;
  align-items: center;
  justify-content: center;
  .totalWrapperr {
    margin-right: 41px;
    .totallable {
      margin-bottom: 4px;
      color: #606266;
    }
    .totalvalue {
      color: #1d2129;
      font-weight: 600;
    }
  }
}
