.contentWrapper {
  margin: 10px 16px 0 16px;

  .powerGeneration {
    height: 20px;
    margin-bottom: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    line-height: 20px;
  }

  .digitalFlipperWrapper {
    display: flex;
    width: 368px;
    height: 56px;
    margin-bottom: 12px;
    background: linear-gradient(360deg, rgba(8, 139, 255, 0.05) 0%, rgba(8, 139, 255, 0) 100%);
    border: 1px solid;
    border-radius: 1px;
    border-image: linear-gradient(
        225deg,
        rgba(21, 154, 255, 0.1),
        rgba(21, 154, 255, 0.3),
        rgba(21, 154, 255, 0.1)
      )
      1 1;
  }

  .digitalFlipperContent {
    width: 190px;
  }
}
