.wrapper {
  height: 100%;
  border: 1px dashed #00b42a;
  .line {
    width: 45px;
    height: 4px;
    background-color: #ececec;
  }
  .boxContent {
    padding: 27px;
    .boxImage {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      .boxTitle {
        margin-top: 11px;
        margin-bottom: 24px;
        color: #191919;
        font-weight: 600;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        line-height: 22px;
      }
    }
  }
  .connectIcon {
    position: absolute;
    top: 0;
    left: 110%;
    width: 20px;
  }
}
