.overview {
  position: relative;
  display: inline-block;
  width: 964px;
  height: 490px;
  text-align: left;
  transform-origin: 0;
  .node {
    position: absolute;
  }
  .flow {
    position: absolute;
    top: 50;
    left: 197;
  }
}
