.rect() {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #0b5fa9;
  content: '';
}
.wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
  background: linear-gradient(360deg, rgba(8, 139, 255, 0.05) 0%, rgba(8, 139, 255, 0) 100%);
  border: 1px solid;

  &::before {
    .rect();

    bottom: 0;
    left: 0;
  }

  &::after {
    .rect();

    right: 0;
    bottom: 0;
  }

  .titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    line-height: 32px;
    background-image: linear-gradient(to right, rgba(21, 154, 255, 0.4), rgba(8, 139, 255, 0));
    border-left: 3px solid #159aff;

    .leftContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .icon {
      width: 24px;
      height: 24px;
      background-position: 0 0;
      background-size: contain;
    }

    .text {
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      text-shadow: 0 0 8px #088bff;
    }
  }

  .content {
    flex: 1;
  }
}
