.contain {
  position: relative;
  height: calc(100vh - 162px);
}

.tabs {
  :global {
    .ant-tabs-nav {
      margin-bottom: 0;
      padding: 0 24px;
      &::before {
        right: 24px;
        left: 24px;
      }
    }
  }
}

.tree {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 24px;
  width: 256px;
  padding: 24px 0;
  overflow: auto;
}

.table {
  height: 100%;
  padding-left: 300px;
  overflow: auto;
}
