.contentWrapper {
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 16px;

  .realtimeStatistic {
    height: 70px;
    margin: 24px 0 8px 0;
    background: linear-gradient(
      90deg,
      rgba(21, 154, 255, 0.4) 0%,
      rgba(21, 154, 255, 0.09) 24%,
      rgba(21, 154, 255, 0) 50%,
      rgba(21, 154, 255, 0.1) 73%,
      rgba(21, 154, 255, 0.4) 100%
    );
    border: 1px solid;
    border-image: linear-gradient(
        270deg,
        rgba(21, 154, 255, 1),
        rgba(21, 154, 255, 0.18),
        rgba(21, 154, 255, 0),
        rgba(21, 154, 255, 0.2),
        rgba(21, 154, 255, 0.75)
      )
      1 1;
    .innerBox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      padding: 10px 0;
    }
  }

  .dateRange {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
  }

  .digitalFlipperWrapper {
    display: flex;
    margin-top: 16px;
    margin-bottom: 12px;

    .box {
      position: relative;
      display: flex;
      align-items: center;
      width: 172px;
      height: 70px;
      padding-left: 14px;
      background: rgba(9, 36, 68, 0.5);
      border: 1px solid rgba(21, 154, 255, 0.5);
      // opacity: 0.5;

      .rect {
        position: absolute;
        width: 4px;
        height: 4px;
        background: #0b5fa9;
      }

      .top-left {
        top: 0;
        left: 0;
      }
      .top-right {
        top: 0;
        right: 0;
      }
      .bottom-left {
        bottom: 0;
        left: 0;
      }
      .bottom-right {
        right: 0;
        bottom: 0;
      }
    }
  }
}

.number {
  height: 28px;
  color: #4dd6f0;
  font-weight: 500;
  font-size: 20px;
  font-family: DIN-Bold, DIN;
  line-height: 28px;
  background-image: none;
  -webkit-text-fill-color: inherit;
}

.unit {
  margin-left: 6px;
  color: #d8d8d8;
  font-weight: 400;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  line-height: 20px;
}
