.dialog-product-logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 151px;
  height: 100%;
  /* stylelint-disable-next-line */
  background-image: url(~@/assets/image/screen/equipment-bg.png);
  background-size: 100% 100%;
  .dialog-product-logo {
    width: 90%;
    height: 94%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
