.header {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 12px;
  color: white;
  background: #252e3d;
  .menu {
    width: 20px;
    cursor: pointer;
  }
}

.logo {
  height: 20px !important;
}
