.operationWrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.ytTable {
  :global(.ant-pro-table-search) {
    padding: 0 !important;
  }
}

.divider {
  width: 1px;
  height: 14px;
  background: #eaebf0;
}
