@import '~antd/es/style/themes/default.less';
.energyFlow {
  position: relative;
  height: 426px;
  background: #f5f5f5;
  .content {
    position: relative;
  }
}

.videoMonitor {
  position: absolute;
  top: 20px;
  right: 560px;
}

@media screen and (max-width: @screen-xxl) {
  .energyFlow {
    height: 580px;
    .content {
      width: 710px;
      margin: 0 auto;
    }
  }
  .videoMonitor {
    right: 15px;
  }
}
