.contain {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  min-width: 198px;
  height: 70px;
  padding: 8px 12px;
  color: #34e1b6;
  font-size: 16px;
  line-height: 24px;
  /* stylelint-disable-next-line */
  background-image: url(~@/assets/image/multi-site/map/status-bg.png);
  background-position: center;
  background-size: 100%;
  .title {
    margin-bottom: 8px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .error {
    color: #ff5656;
  }
  img {
    width: 14px;
    margin-right: 8px;
  }
}
