.dialog-equipment {
  .dialog-product-logo {
    width: 100%;
  }
  .productInfo {
    padding-left: 32px;
  }
  .btnMore {
    padding-left: 0;
  }
  .label {
    margin-bottom: 16px;
    font-size: 14px;
    .labelLine {
      display: inline-block;
      width: 2px;
      height: 14px;
      margin-right: 8px;
      background: black;
    }
  }
  .ant-descriptions-item-label {
    font-size: 12px;
  }
  .ant-descriptions-item-content {
    font-size: 12px;
  }
  .cl-success {
    color: #28f0ee;
  }
  .cl-error {
    color: #ff5656;
  }
}

.ant-modal-content.dialog-screen {
  color: white;
  background: rgba(10, 16, 28, 0.8);
  border: 0.005vw solid;
  border-image: linear-gradient(
      225deg,
      rgba(8, 139, 255, 0),
      rgba(8, 139, 255, 1),
      rgba(8, 139, 255, 0)
    )
    1 1;
  backdrop-filter: blur(5px);
  .dialog-head {
    position: relative;
    height: 3.05vh;
    font-size: 1.52vh;
    background: linear-gradient(90deg, rgba(8, 139, 255, 0.4) 0%, rgba(8, 139, 255, 0) 100%);
    .dialog-tab {
      position: relative;
      display: inline-block;
      padding: 0 0.833vw;
      line-height: 3.05vh;
      cursor: pointer;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 0.19vh;
        content: '';
      }
    }
    .active {
      &::after {
        background-color: #159aff;
      }
    }
  }
  .close {
    position: absolute;
    top: 0.41vw;
    right: 0.52vw;
    width: 0.83vw;
    height: 0.83vw;
    cursor: pointer;
  }
  .dialog-content {
    padding: 0.83vw;
  }
  .dialog-product-logo {
    width: 100%;
    margin-bottom: 1.29vh;
  }
  .productInfo {
    padding-left: 1.66vw;
  }
  .label {
    margin-bottom: 0.74vh;
    color: white;
    font-size: 1.29vh;
    .labelLine {
      display: inline-block;
      width: 0.1vw;
      height: 1.29vh;
      margin-right: 0.52vw;
      background: #0d92ff;
    }
  }
  .splitLine {
    height: 0.18vh;
    margin-bottom: 1.3vh;
    background: #064066;
    opacity: 0.6;
  }
  .dotWrap {
    .dot {
      display: inline-block;
      width: 0.31vw;
      height: 0.31vw;
      margin-right: 0.31vw;
      background: white;
      border-radius: 50%;
    }
    &.active {
      color: #28f0ee;
      .dot {
        background: #50f0ff;
      }
    }
  }
  .areaChart {
    width: 19.16vw;
    height: 13vh;
    margin-bottom: 0.92vh;
    .chartTitle {
      margin-bottom: 0.92vh;
      color: #6c8097;
      font-size: 1.11vh;
    }
  }
  .desc {
    color: white;
    font-size: 1.11vh;
    line-height: 1.5;
  }
  .btnMore {
    padding-left: 0;
  }
  .ant-descriptions-item-label,
  .desc-label {
    color: #a7b7ca;
    font-size: 1.11vh;
  }
  .ant-descriptions-item-content,
  .desc-content {
    color: white;
    font-size: 12px;
  }
  .ant-tabs-nav::before {
    border-bottom-color: #064066;
  }
  .ant-tabs-tab-btn {
    color: white;
  }
  .child-tabs {
    .ant-tabs-tab {
      padding-top: 0.46vh;
      padding-bottom: 0.46vh;
      font-size: 1.11vh;
      background: rgba(208, 222, 238, 0.1);
      border: 0.05vw solid rgba(208, 222, 238, 0.1);
      .ant-tabs-tab-btn {
        color: #fff9;
      }
    }
    .ant-tabs-tab-active {
      background: rgba(21, 154, 255, 0.2);
      border: 0.05vw solid #159aff;
      .ant-tabs-tab-btn {
        color: white;
      }
    }
    .ant-tabs-ink-bar {
      display: none;
    }
    .ant-tabs-content-holder {
      border-left: 0;
    }
  }
  .cl-success {
    color: #28f0ee;
  }
  .cl-error {
    color: #ff5656;
  }
  .mt24 {
    margin-top: 2.22vh;
  }
}
