.tabs {
  height: 100%;
  :global {
    .ant-tabs-nav {
      padding-left: 24px;
      background: white;
      border-radius: 4px;
    }
    .ant-tabs-content {
      height: 100%;
      padding: 24px;
      overflow: auto;
      background-color: white;
      border-radius: 4px;
    }
    .alarm-table,
    .log-table {
      .ant-pro-card-body {
        padding: 0;
      }
      .ant-pro-table-list-toolbar-container {
        padding-top: 0;
      }
    }
  }
}
