.contain {
  position: relative;
  height: 100%;
  padding-left: 0;
  .tree {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 280px;
    height: 100%;
    padding: 20px;
    overflow: auto;
    background: white;
    border-radius: 4px;
    transform: translate3d(-280px, 0, 0);
    transition: 0.5s;
  }
  .content {
    height: 100%;
    overflow: auto;
    background: white;
  }
  &.open {
    padding-left: 292px;
    .tree {
      transform: translate3d(0, 0, 0);
    }
  }
}

.tabs {
  & > :global(.ant-tabs-nav) {
    margin-right: 24px;
    margin-left: 24px;
    :global {
      .ant-tabs-tab-btn {
        font-size: 16px;
      }
    }
  }
}

.network {
  position: absolute;
  top: 4px;
  left: 18px;
}
