@import '~antd/es/style/themes/default.less';
.tabItem {
  position: relative;
  z-index: 20;
  width: 120px;
  height: 26px;
  margin-top: 2px;
  margin-left: 5px;
  padding: 0 20px;
  overflow: hidden;
  color: @text-color;
  font-size: 12px;
  line-height: 24px;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  background-color: #fff;
  border: 1px solid #e4e7ed;
  border-radius: @border-radius-base;
  cursor: pointer;
  &:hover {
    // background: @layout-body-background;
    color: @primary-color-hover;
    &::before {
      display: none;
    } // display: block;
    & + .tabItem {
      &::before {
        display: none;
      }
    }
  } // &:before {
  //     content: '';
  //     display: block;
  //     position: absolute;
  //     top: 5px;
  //     bottom: 5px;
  //     left: 0;
  //     width: 1px;
  //     border-left: 1px solid #d9d9d9;
  //     z-index: 10;
  // }
  .closeIcon {
    // display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    color: rgba(0, 0, 0, 0.45);
    border-radius: 50%;
    transform: scale(0.8);
    transition: 300ms;
    &:hover {
      background: #ccc; //@close-icon-hover;
    }
  }
}

.active {
  color: white !important;
  background: @primary-color;
  .closeIcon {
    color: white;
  }
  &::before {
    display: none;
  }
  & + .tabItem {
    &::before {
      display: none;
    }
  }
}
