.boxWrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  background-image: url('~@/assets/image/screen/geometrySystem/boxBG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  .box {
    height: 21px;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
  }

  .label {
    color: #acccec;
    font-weight: 400;
    font-family: PingFangSC-Regular, PingFang SC;
  }
  .value {
    color: #4dd6f0;
    font-weight: 600;
    font-size: 14px;
    font-family: PingFangSC-Semibold, PingFang SC;
    line-height: 22px;
  }
}

.boxBackgroundMini {
  // background-image: url('~@/assets/image/screen/geometrySystem/boxMiniBG.png') !important;
}
