.digit {
  :global {
    .digit-stat-wrap {
      img {
        width: 58px;
      }
      .digit-stat-content {
        text-align: center;
      }
      .digit-stat-title {
        background: linear-gradient(
          90deg,
          rgba(2, 52, 80, 0) 0%,
          #022e48 52%,
          rgba(1, 42, 66, 0) 100%
        );
      }
      .digit-stat-num {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}
