.tabsWrapper {
  :global {
    .ant-tabs-nav {
      margin: 0;
      padding: 0 24px;
      background-color: #fff;
      user-select: none;
      &::before {
        margin: 0 24px;
      }
    }
  }
}
