.content {
  display: flex;
  flex: 1;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;

  .divider {
    width: 1px;
    height: 38px;
    border: 1px solid;
    border-image: linear-gradient(
        180deg,
        rgba(8, 139, 255, 0),
        rgba(1, 179, 215, 1),
        rgba(8, 139, 255, 0)
      )
      1 1;
  }
}
