.digit {
  :global {
    .digit-stat-wrap {
      padding: 0;
      .digit-stat-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 30px;
        /* stylelint-disable-next-line */
        background-image: url(~@/assets/image/multi-site/save-energy/line.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% auto;
        &:nth-of-type(2) {
          /* stylelint-disable-next-line */
          background-image: url(~@/assets/image/multi-site/save-energy/card-line.png);
        }
      }
      img {
        width: 60px;
        margin-right: 22px;
      }
      .digit-stat-num {
        font-size: 24px;
        line-height: 1;
      }
    }
    .ant-col + .ant-col {
      margin-top: 8px;
    }
  }
}
