.digit {
  :global {
    .digit-stat-wrap {
      padding: 0;
      .digit-stat-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 30px;
        /* stylelint-disable-next-line */
        background-image: url(~@/assets/image/multi-site/save-energy/line.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% auto;
      }
      img {
        width: 60px;
        margin-right: 22px;
      }
      .digit-stat-num {
        font-size: 24px;
        line-height: 1;
      }
      .digit-stat-num-value {
        background: linear-gradient(180deg, #fff 0%, #aadcff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .ant-col + .ant-col {
      margin-top: 8px;
    }
    .ant-col:nth-child(2) {
      .digit-stat-content {
        /* stylelint-disable-next-line */
        background-image: url(~@/assets/image/multi-site/save-energy/card-line.png);
      }
      .digit-stat-num-value {
        background: linear-gradient(180deg, #fff 0%, #b6ffa7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
