.dashboard {
  position: 'relative';
  width: '100%';
}

.content {
  position: relative;
  overflow: hidden;
  background-color: '#fff';
  transform-origin: 0 0;
  transition: all 0.3s linear;
  user-select: none;
}

.contentWrapper {
  position: relative;
}
