.dashboard {
  position: 'relative';
  width: '100%';
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  background-color: '#fff';
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: all 0.3s linear;
  user-select: none;
}

.contentWrapper {
  position: relative;
}
