.chartWrapper {
  position: relative;

  .chartTitle {
    position: absolute;
    top: 4px;
    left: 0;
    height: 17px;
    color: #6c8097;
    font-weight: 400;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    line-height: 17px;
  }
}
