.label {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.detail {
  :global {
    .ant-descriptions-item-label {
      color: #909399;
    }
    .ant-descriptions-item-content {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      color: #303133;
      white-space: nowrap;
    }
  }
}

.value {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.empty {
  padding: 0 !important;
}
