@import '~antd/es/style/themes/default.less';
.realTimeData {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  min-width: 300px;
  padding: 14px 16px 0;
  .realBtn {
    order: 2;
  }
  .realContent {
    order: 1;
    width: 428px;
    .boxContent {
      height: 100%;
      padding: 16px 20px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
      :global {
        .label-wrap {
          margin-bottom: 0;
          .label-title {
            color: #606266;
            font-weight: 400;
            font-size: 14px;
            word-break: break-all;
          }
          .label-line {
            width: 3;
            height: 14px;
          }
        }
      }
    }
  }
}

.detail {
  width: 120px;
  :global {
    .ant-descriptions-item {
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: @screen-xxl) {
  .realTimeData {
    position: static;
    .realContent {
      width: 100%;
      .boxContent {
        padding: 6px;
      }
    }
  }
}
