.realTimeData {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  min-width: 300px;
  padding: 16px;
  .realBtn {
    order: 2;
  }
  .realContent {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    order: 1;
    width: 356px;
    .timeBtn {
      margin-bottom: 16px;
    }
    .boxContent {
      // margin-top: 16px;
      padding: 18px 20px;
      // color: #606266;
      // font-weight: 400;
      // font-size: 14px;
      // font-family: PingFangSC-Regular, PingFang SC;
      // line-height: 22px;
      background-color: #fff;
    }
  }
}
