.realTimeData {
  position: absolute;
  top: 0;
  right: 30px;
  min-width: 300px;
  padding: 16px;
  .realContent {
    min-width: 300px;
    background: #f3f3f3;
    .descItem {
      margin-bottom: 15px;
      padding: 15px 30px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 3px 6px 1px #00000014;
      opacity: 1;
      .realTitle {
        margin: 0 0 4px;
        .indexLabel {
          margin-right: 3px;
          color: #666;
          font-size: 14px;
        }
        .indexUnit {
          color: #999;
          font-size: 12px;
        }
      }
      .realValue {
        color: #333;
        font-weight: 700;
        font-size: 18px;
        font-family: 'Microsoft YaHei-Bold, Microsoft YaHei';
      }
    }
  }
}
