.contentWrapper {
  margin: 24px 0 0 0;
  :global {
    .ant-descriptions-item {
      padding-bottom: 24px;
    }
  }
}
.itemLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-left: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}
