.digit {
  :global {
    .digit-stat-wrap {
      .digit-stat-content {
        padding: 7px;
        background: linear-gradient(90deg, #003755 0%, rgba(0, 29, 45, 0) 100%);
      }
      img {
        width: 64px;
        margin-right: 0;
      }
      .digit-stat-num {
        line-height: 28px;
      }
    }
  }
}

.onlineDigit {
  :global {
    .digit-stat-wrap {
      padding: 0;
      background: linear-gradient(90deg, #003755 0%, rgba(0, 29, 45, 0) 100%);
      img {
        width: 64px;
      }
      .digit-stat-separator {
        display: none;
      }
    }
  }
}
