.contentWrapper {
  margin-top: 16px;
  :global {
    .ant-descriptions-item {
      padding-bottom: 10px;
    }
  }
}
.itemLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  .iconWrapper {
    position: relative;
    width: 36px;
    height: 36px;
    margin-right: 10px;

    .icon {
      position: absolute;
      top: -10px;
      left: -10px;
      width: 56px;
      height: 56px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.box {
  width: 100%;
  padding: 8px 0 8px 16px;
  background-image: url('~@/assets/image/screen/stationOverview/数据BG框@2x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border: 1px solid;
  border-image: linear-gradient(
      270deg,
      rgba(0, 101, 255, 0),
      rgba(25, 215, 255, 0.2),
      rgba(0, 133, 255, 0)
    )
    1 1;

  .boxTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .icon {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 5px;
      height: 6.25px;
    }
    h1 {
      margin: 0;
      padding-left: 7px;
      color: #fff;
      font-weight: 400;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      line-height: 20px;
      text-shadow: 0 0 4px rgba(30, 198, 255, 0.8);
    }
  }

  .boxDescription {
    // width: 45px;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: flex-start;

    .boxValue {
      height: 28px;
      padding-right: 5px;
      color: #4dd6f0;
      font-weight: 600;
      font-size: 20px;
      font-family: YouSheBiaoTiHei;
      line-height: 28px;
      background: linear-gradient(180deg, #fff 0%, #9be5ff 67%, #0dcaf5 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .boxUnit {
      color: #acccec;
      font-weight: 400;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      line-height: 20px;
    }
  }
}
