.title {
  position: absolute;
  top: 5px;
  left: 0;
  width: 352px;
  height: 78px;
  // background-image: url('~@/assets/image/screen/title/永泰光储充示范站_大标题@2x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  pointer-events: none;
}

.titleBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 69px;
  background-image: url('~@/assets/image/screen/title/永泰示范站_大标题BG_动效.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
