.btnDetail {
  & + .btnDetail {
    margin-top: -16px;
  }
}

.tip {
  font-weight: normal;
  font-size: 14px;
}

.refresh {
  margin-left: 12px;
  font-size: 16px;
}

.action {
  :global {
    .ant-pro-form-list-action {
      position: absolute;
      left: 100%;
      margin-left: -3px;
    }
  }
}
