.collapse {
  :global {
    .ant-collapse-horizontal {
      border-color: rgba(0, 0, 0, 0.06);
    }
    .ant-collapse-content-box {
      padding-top: 0 !important;
    }
    .ant-collapse-header-text {
      font-size: 16px;
    }
  }
}
