@font-face {
  font-family: YouSheBiaoTiHei;
  src: url('../font/YouSheBiaoTiHei.ttf');
}

@font-face {
  font-family: DIN-Medium;
  src: url('../font/DIN_Medium.otf');
}

@font-face {
  font-family: DIN-Bold;
  src: url('../font/DIN_Bold.otf');
}
