.myLayout {
  height: 100vh;
  .header {
    height: 56px;
    padding: 0;
  }
  .content {
    overflow: auto;
    background: #eef0f5;
  }
  :global(#myLayoutContain) {
    position: relative;
  }
}
