.dialog-product-logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 151px;
  height: 100%;
  /* stylelint-disable-next-line */
  background-image: url(~@/assets/image/screen/equipment-bg.png);
  background-size: 100% 100%;
  .dialog-product-logo {
    width: 90%;
    height: 94%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.overview {
  padding-left: 170px !important;
  background-repeat: no-repeat;
  background-position: 23px center;
  background-size: 100px;
  .title {
    margin-bottom: 16px;
    color: #1d2129;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }
}
