.Multi_table {
  :global {
    .ant-pro-query-filter {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    .ant-pro-card-body {
      padding-inline: 0 !important;
    }
  }
}
