@import '~antd/es/style/themes/default.less';
.tree {
  :global {
    img {
      width: 16px;
    }
    .ant-tree-node-content-wrapper {
      white-space: nowrap;
      &.ant-tree-node-selected {
        color: white;
        background: @primary-color;
      }
    }
    .ant-tree-title {
      white-space: nowrap;
    }
  }
}
