.flow {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: #ff974a;
  border-radius: 50%;
  animation: move linear normal infinite;
}
.animationWrapper {
  position: absolute;
  top: 219px;
  left: 380px;
  transform: rotate(180deg);
  transform-origin: center;
}
@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
