.energyContain {
  justify-content: space-between;
  height: 182px;
  color: #acccec;
  font-weight: 400;
  font-size: 12px;
  .icon {
    width: 36px;
    margin-right: 8px;
  }
  .arrow {
    width: 24px;
  }
  .floor {
    width: 42px;
  }
  .field {
    color: #4dd6f0;
    font-size: 16px;
  }
  .arrowContain {
    justify-content: space-around;
    height: 100%;
  }
  .label {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
