.energyContain {
  justify-content: space-between;
  width: 400px;
  color: #acccec;
  font-weight: 400;
  font-size: 12px;
  .icon {
    width: 46px;
    margin-right: 12px;
  }
  .arrow {
    width: 24px;
  }
  .floor {
    width: 58px;
  }
  .field {
    color: #4dd6f0;
    font-size: 18px;
  }
}
